<html>
  <head>
    <title>My Angular App!</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <style type = 'text/css'>
   .url{
   	color:green;
   }
   </style>
  </head>
  <body>

<div ng-app="myApp" ng-controller="myCtrl">
	<h1>PBL Links Explorer</h1>

  	<input id = 'search-input' type = 'text' placeholder = 'Search PBL Links' ng-keyup="$event.keyCode == 13 && searchGoLinks()"></input>
  	<h1>here are my {[{ numLinks}]} golinks</h1>
  	<ul>
  		<li ng-repeat="golink in golinks"><a class = 'key' href = '{[{golink.attributes.url}]}'>{[{golink.attributes.key}]}</a>
  			<ul>
  				<li class = 'url'>{[{golink.attributes.url}]}</li>
  				<li class = 'description'>{[{golink.attributes.description}]}</li>
  			</ul>
  		</li>
  	</ul>

  	
</div>


<script>
ROOT_URL = 'http://localhost:3001';
function toHex(str) {
    var result = '';
    for (var i=0; i<str.length; i++) {
      result += str.charCodeAt(i).toString(16);
    }
    return result;
  }
function getToken(){
	email = 'davidbliu@gmail.com';
	return toHex(email);
}
var app = angular.module('myApp', []).config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});
app.controller('myCtrl', function($scope, $http) {
	function getGoLinks(page){
		 $http.get(ROOT_URL + '/api/all_golinks?page='+page.toString()+'&token='+getToken()).
    	success(function(data, status, headers, config){
    		$scope.golinks = data;
    		$scope.numLinks = data.length;
    	}).
    	error(function(data, status, headers, config){
    		console.log('there was an error');
    		console.log(data);
    	});
	}
	function searchGoLinks(searchTerm, page){
		$http.get(ROOT_URL + '/api/search_golinks?search_term='+searchTerm+'&page=1&token='+getToken()).
    	success(function(data, status, headers, config){
    		$scope.golinks = data;
    		$scope.numLinks = data.length;
    	}).
    	error(function(data, status, headers, config){
    		console.log('there was an error');
    		console.log(data);
    	});
	}
   	getGoLinks(1);
    
    $scope.firstName= "David";
    $scope.lastName= "Liu";
    $scope.filterName = 'filter pubs';
    $scope.page = 1;
    $scope.searchGoLinks = function(){
    	console.log('this was called');
    	$scope.page == 1;
    	searchGoLinks($('#search-input').val(), 1);
    };
    $scope.nextPage = function() {
    	$scope.page+=1
    	getGoLinks($scope.page);
    };
});
</script>


</body>
</html>
